.broadcast-toolbar {
  background-color: var(--ion-toolbar-background);
  min-height: 40px;
  display: flex;
  align-items: center;

  ion-buttons {
    justify-content: space-evenly;
    width: 100%;
    margin: 0;

    ion-button {
      &::part(native) {
        padding: 0;
      }

      &.button-has-icon-only.button-clear {
        width: 20px;
        height: 20px;
      }
    }
  }
}

.manage-stream-action-sheet {
  .edit {
    $warning-color: var(--ion-color-warning);
    color: $warning-color;

    ion-icon {
      color: $warning-color;
    }
  }

  .delete {
    $danger-color: var(--ion-color-danger);
    color: $danger-color;

    ion-icon {
      color: $danger-color;
    }
  }

  .cancel {
    $cancel-color: var(--ion-color-medium);
    color: $cancel-color;

    ion-icon {
      color: $cancel-color;
    }
  }
}
