@import "src/shared/mixins";
@import "../../components/Chat/mixins";
:root{
  --shared-stream-header-heigh:48px;
  --side-bar-width: 64px;
}

.shared-stream-page .shared-stream-room-section.theatre-mode {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  .stream-room-video {
    width: 100%;
    object-fit: fill;
    height: 100%;
  }
  
}

.shared-stream-page {
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: 10px;
  $videoContainerWidth: 1084px;
  .top-bar-stream-share {
    position: fixed;
    top: 0;

    .room-info {
      --background: rgba(107, 107, 107, 0.4);
    }
  }
  .ad-notification {
    color: white;
    position: absolute;
    z-index: 999;
    top: 30px;
    background: black;
    padding: 0.5rem 1rem;
  }

  &.fullscreen {
    .shared-stream-room-section {
      width: 100%;

      .stream-content-holder {
        width: 100%;

        .stream-holder {
          overflow: hidden;
        }
      }

      .stream-side-bar {
        display: none; 
        background-color: #2D2D2D;
        display: flex;
        position: fixed;
        right: 0;
        top: 0;
      }
    }

    .shared-stream-room-section-tv {
      width: 100%;
      height: 100%;

      .stream-content-holder {
        width: 100%;
        height: 100%;
        .stream-holder {
          overflow: hidden;
        }
      }

      .stream-side-bar {
        position: fixed;
        right: 0;
        bottom: 0;
        --background: rgba(79, 79, 79, 0.1);
      }
    }

   
  .shared-stream-side-features {
    top: var(--shared-stream-header-heigh) ;
    height: calc(100% - var(--shared-stream-header-heigh));
  }

    
  }

  .shared-stream-chat-section {
    z-index: 10;
    position: absolute;//fixed
    left: 0;
    bottom: 0px;
    z-index: 100;
    height: clamp(200px, calc(100vh - var(--shared-stream-header-heigh) ),400px);
    width: auto;
    @include chat-fullscreen;
  }

  .shared-stream-side-features {
    .stream-debug {
      max-width: 500px;
    }
    overflow: auto;
    ion-item{
      --background: transparent;
      --border-color:#707070 !important;
    }
    .living-room-participants-card{
      background-color: transparent;
    }
    position: absolute;
    top: 45px;
    height: 100%;
    background-color: #4A4949;
    right:68px;
    border-color: black;
  }

  .shared-stream-room-section {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100%;

    .stream-content-holder {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;

      @include fade-frames;

      .stream-holder {
        width: 100%;
        height: 100%;
        overflow: auto;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        &.left {
          justify-content: left;
        }

        .stream-room-container {
          flex: 1;
          height: calc(100% - 12px);

          ion-img {
            // width: 100%;
            width: 75.5%;
            height: calc(100% - 32%);
          }
          .stream-room-video-fullscreen{
            width: calc(100% - 36px) !important;
            height: calc(100% - var(--shared-stream-header-heigh)) !important;
            margin-top: var(--shared-stream-header-heigh);
          }
          .stream-room-video {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
  
  @media (max-width: 1500px) {
    display: block;

    .shared-stream-room-section {
      width: 100%;
    }

    .shared-stream-chat-section {
      @include chat-fullscreen;
      width: clamp(0px,calc(100% - 60px),300px) ;
      position: absolute;
      bottom: 0;
      height: clamp(200px, calc(100vh - var(--shared-stream-header-heigh) ),400px);
      z-index: 1;
    }
  }
}

#video-player {
  position: absolute;
  width: 100%;
  height: 100%;
}

.ads-container {
  position: absolute;
  width: 500px;
  height: 300px;
  top: 30%;
  left: 40%;
  z-index: 300;
  transform: translate(-40%, -30%);
}
