.channel-list {
    height: 100%;
    width: 100%;
    margin-top: 50px !important;
    background-color: #1e1e1e;

    &.loading {
        display: flex;
        justify-content: center;
        align-items: center;
    }

   .channel-list-div{
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        margin-top: 100px;
        --width: 400px;
        .home-room-id-item {
            --border-color: var(--ion-color-medium);
            --background: trasparent;
            margin: 0 auto;
            width: 350px;

            @media (max-width: 576px) {
            width: 100%;
            }
        }
    }


    .channel {
        @include broadcasts-item;

        .channel-logo-wrapper {
        position: relative;
        min-height: 98px;
        flex: 1;

        .channel-logo {
            position: absolute;
            top: 4px;
            left: 4px;
            width: 40px;
        }

        .channel-preview {
            visibility: hidden;
            height: 0;

            &.preview_loaded {
            visibility: visible;
            height: auto;
            }
        }

        .channel-img-12all {
            @include broadcast-logo;
        }

        .channel-name {
            padding: 12px 0;
            text-align: center;
            display: block;
        }
        }
    }
}