.rooms-row {
  .live-rooms-col,
  .upcoming-rooms-col {
    padding: 24px !important;

    .room-swiper {
      .swiper-button-prev,
      .swiper-button-next {
        color: white;
      }
    }

    .live-room {
      margin: 0 auto;
      width: 100%;
    }
  }
}
