.bets-modal {
    --background: #662C4B;
    // width: 653px;
    // height: 623px;
    border-radius: 10px;

    @media only screen and (max-width: 768px) {
        height: calc(100% - 20px);
        margin: auto auto;
        width: 96%;
    }     
}

select {
    color: #000;
}

.bets-manage-modal-container {
    text-align: center;
    margin-top: 48px;
    padding: 0 50px;
    font-size: 18px;
    min-height: 400px;

    @media only screen and (max-width: 768px) {
        padding: 0 18px;
    }

    .form-container {
        margin-top: 0px;
        padding-bottom: 20px;
        min-height: 397px;

        form.join-form {
            min-height: 349px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }

    ion-item {
        --background: #FFF;
        --min-height: 28px;
        --border-color: #FFF;
        min-height: 33px;
        border-radius: 4px;

        ion-input {
            color: #000;
        }
    }
    
    .bet-games-list {
        ion-item {
            --border-color: transparent;
        }
    }

    ion-text {
        border: 1px #F5F5F5 solid;
        display: block;
        width: 100%;
        border-radius: 5px;
        padding: 8px 10px;
        font-size: 12px;
        text-align: left;
        margin-bottom: 10px;

        @media only screen and (max-width: 768px) {
            padding: 6px 10px;
            margin-bottom: 6px;
        }           
    }       
    
    .game-name {
        ion-text {
            padding: 10px;
            text-align: center;
            font-size: 13px;
            margin-bottom: 0px;
        }   
    }

    .lock-game {
        ion-text {
            border: none;
            text-align: right;
        }
    }

    input {
        background-color: #FFF;
        border-radius: 4px;
        border: 1px solid #FFF;
        color: #000;
    }

    .field-star-container {
        width: 152px;
        height: 33px;
        border-radius: 4px;
        border: 1px solid #FFF;
        text-align: left;
        background-color: #FFF;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    input:first-child {
        width: 150px;
        height: 33px;
        text-align: center;

    }

    .field-star-container:after {
        content: url('../../../../../images/icons/star-sharp.svg');
        width: 20px;
        height: 20px;
        position: relative;
        top: -30px;
        opacity: 1;
        left: 117px;
        transform: scale(.7);
        display: block;
        z-index: 99;
    }

    .game-name {
        ion-item {
            text-align: center;
            height: 60px;

            ion-input {
                height: 60px;
            }
        }
    }

    ion-checkbox {
        margin-right: 10px;
        margin-top: 11px;
    }

    hr {
        color: #fff;
        height: 2px;
        background-color: #fff;
    }


    ion-select {
        background: #FFF;
        height: 33px;
        border-radius: 4px;
        color:#000;
        
        .select-icon {
            color: #707070;
            margin-right: 5px;
        }

        .select-text {
            color: #000;
            font-size: 12px;
            text-align: left;            
        }

        .ion-sel-18-lbl {
            color: #000;
        }
    }

    .add-choice {    

        input {
            font-size: 12px;
            text-align: left;
        }

    }

    .add-choice:first-child {
        margin-top: 30px;
    }

    .add-choice-button {
        font-size: 12px;
        text-transform: capitalize;    
        
        button {
            box-shadow: none;
            --box-shadow: none;
        }
    }

    .user-stars-balance {
        background-color: #000;
        position: absolute;
        top: -15px;
        height: 40px;
        width: 330px;
        border: #FFF 1px solid;
        border-radius: 8px;
        left: calc((100% - 330px) / 2);
        font-size: 16px;
        padding-top: 6px;

        @media only screen and (max-width: 768px) {
            top: 0;
        }        
    }

    .games-stars-balance {
        background-color: none;
        position: relative;        
        min-height: 40px;
        height: auto;
        width: 87%;
        border: #FFF 1px solid;
        border-radius: 8px;
        margin: 0 auto;
        font-size: 16px;
        padding-top: 6px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 17px;
        cursor: pointer;

        @media only screen and (max-width: 768px) {
            width: 100%;
        } 
    }

    .games-stars-balance:hover {
        background-color: #000;
    }

    .active {
        background-color: #000;
    }

    .games-stars-balance div:first-child {
        padding-left: 10px;
    }

    .selected-game span {
        font-size: 12px;
    }

    .bet-games-list {
        background: none;
        max-height: 49vh;
        overflow-y: auto;

        ion-item {
            --background: none;
            min-height: 43px;
            height: auto;
        }
    }

    .winner-container {
        padding: 0 5px;
    }
    .winner {
        text-transform: uppercase;
        border-bottom: 1px #FFF solid;
        text-align: center;
    }
}


// ion-select-popover {
//     ion-list {
//         background: #FFF;

//         ion-radio-group{
//         ion-item {
//             --background: #FFF;

//         }
//     }
//     }
// }
// ion-label, label {
//     color: #000;
// }


@media only screen and (min-width: 768px) and (min-height: 600px) {
    ion-modal {
        --height: auto;
        --overflow: visible;
    } 
}