.safe-area-view {
  padding-top: var(--ion-safe-area-top);
  padding-left: var(--ion-safe-area-left);
  padding-right: var(--ion-safe-area-right);
  padding-bottom: var(--ion-safe-area-bottom);
  width: 100%;
  height: 100%;
}
