.filter-type {
  display: flex;
  width: 62px;
  height: 62px;
  justify-content: center;
  cursor: pointer;

  --padding-start: 0px;

  .deactive-back {
    background-color: #70707052;
  }

  .active-back {
    background-color: #707070;
  }

  .filter-type-container {
    border: none;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7px;

    .filter-type-icon {
      width: 34px;
      height: 34px;
    }

    .filter-type-text {
      margin: 0px;
      text-align: center;
      font-size: 11px;
      color: white !important;
    }
  }
}
