.icon-input-container {

  display: flex;
  flex-direction: column;
  
  .icon-input-label {
    margin-bottom: 10px;
  }

  .icon-input-field {
    display: flex;
    background: white;
    // justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding-left: 10px;

    .icon-input {
      background: white;
      width: 120px;
      border-radius: 4px;
      color: black;
    }
  }
}